body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
     height: 100vh;
     width: 100vw;
     box-sizing: border-box;
}

 
.container {
     width: 100%;
     height: 100%;
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: transparent;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: center;
     opacity: 0; /* Initially set opacity to 0 */
     animation: fadeInContainer 0.5s ease forwards; /* Apply fadeInContainer animation */
}
.sub-container{
     height: 100%;
     display: flex;
     justify-content: center;
     flex-direction: column;
}
 

 
h1 {

     margin: 0;
     margin-bottom: 20px;
     text-align: start;
     color: #fbfafa;
     font-size: 48px;
     padding: 20px;
     opacity: 0; /* Initially set opacity to 0 */
     animation: fadeInH1 0.5s ease 0.3s forwards; /* Apply fadeInH1 animation with delay */
     border: 1px solid #fbfafa;
     border-radius: 5px;
}
h1 span {
     opacity: 0;
     animation: fadeIn 1s ease forwards;
     margin-bottom: 20px;
}
 
 
@keyframes fadeInH1 {
     100% {
         opacity: 1; /* When animation completes, set opacity to 1 */
     }
}
 
p {
     margin-bottom: 10px;
     text-align: center;
     color: #d1cfcf;
     font-size: 24px;
     font-weight: 500;
     opacity: 0; /* Initially set opacity to 0 */
}
 
p:nth-child(1) {
     animation: fadeInText 0.5s ease 1.5s forwards; /* Apply fadeInText animation with delay */
}
 
p:nth-child(2) {
     animation: fadeInText 0.5s ease 2s forwards; /* Apply fadeInText animation with delay */
}
 
p:nth-child(3) {
     animation: fadeInText 0.5s ease 2.5s forwards; /* Apply fadeInText animation with delay */
}
p:nth-child(4) {
     animation: fadeInText 0.5s ease 3s forwards; /* Apply fadeInText animation with delay */
}
.card-container button{
     animation: fadeInContainer 0.5s ease 4s forwards; /* Apply fadeInText animation with delay */
}
 

.card-container{
     margin-top: 40px;
     display: flex;
     width: 100%;
     justify-content: space-around;
}
.card  {
     all: unset;
     border-radius: 10px;
     padding: 15px 30px; /* Adjust padding to increase button size */
     background-color: #127bec; /* Lighter background color */
     color: #333; /* Darker text color */
     font-size: 16px; /* Adjust font size as needed */
     cursor: pointer;
     opacity: 0;
     box-shadow: 0 0 10px rgba(255,255, 255, 0.3); /* Initial shadow */
     transition: box-shadow 0.3s, opacity 0.3s; /* Transition for box-shadow and opacity */
 }
 
 .card:hover {
     box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); /* Increased intensity on hover */
     opacity: 1;
 }
a {
     color: #007bff;
     text-decoration: none;
     opacity: 0; /* Initially set opacity to 0 */
     animation: fadeInText 0.5s ease 2.1s forwards; /* Apply fadeInText animation with delay */
}
 
a:hover {
     text-decoration: underline;
     color: #0056b3;
}
 
@keyframes fadeInText {
     100% {
         opacity: 1; /* When animation completes, set opacity to 1 */
     }
}
 
@keyframes fadeInContainer {
     100% {
         opacity: 1; /* When animation completes, set opacity to 1 */
     }
}


/* do not touch it */
/* =============================================================================
   ========================================================================== */

   html,body,div,span,object,iframe,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
   
   
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
html,body{ 
     width:100%;
     height:100%;
     background:#181818;
}
   
html{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
   
body{
     font:normal 75% Arial, Helvetica, sans-serif;
}
   
canvas{
     display:block;
     vertical-align:bottom;
}
   
   
.js-count-particles{
     font-size: 1.1em;
}
   
#particles-js{
     width: 100%;
     height: 100%;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
}
   