<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Activity Recognition</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    
    
    <div class="container">
        <h1>
            <span>Welcome</span>
            <span>to</span>
            <span>the</span>
            <span>Human</span>
            <span>Activity</span>
            <span>Recognition</span>
            <span>Project</span>
        </h1>
        <p>This project aims to predict human activities based on sensor data.</p>
        <p>To make accurate predictions, it utilizes advanced machine learning algorithms.</p>
        <p>Supported activities include: Standing, Sitting, Laying, Walking Downstairs, Walking Upstairs, and Walking.</p>
        <p>Feel free to explore the project and discover its capabilities!</p>
        <p>Click <a href="/predictdata">here</a> to predict human activities.</p>
        <p>Click <a href="/predict_and_save">here</a> to predict and save human activities.</p>
    </div>
    <div id="particles-js"></div>

    <script src=
        "particles.js-master/particles.js">
    </script>
    <script src="../particles.js"></script>
    <script src="js/app.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const spans = document.querySelectorAll("h1 span");
            let delay = 1000;
            spans.forEach(span => {
                setTimeout(() => {
                    span.style.opacity = 1;
                }, delay);
                delay += 200; // Adjust the delay between each word or letter
            });
        });
        
    </script>
</body>
</html>
