<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Activity Recognition App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/multi.css') }}">
</head>
<body>
    <div id="particles-js">
        <div class="container">
            <h1>SensorSavvy</h1>
            <form action="{{ url_for('predict_and_save')}}" method="post" enctype="multipart/form-data" class="form">
                <div class="form-group" id="drop-zone">
                    <label for="file" class="form-label"> <br> Click to select CSV file </label>
                    <input type="file" name="file" id="file" class="form-control" accept=".csv" style="display: none;" onchange="updateLabel(this)">
                </div>                
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Predict and Save</button>
                </div>
            </form>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if pie_chart %}
                <div class="img-container">
                    <img class="backgroundimage" src="{{ pie_chart }}" alt="Predicted Activity Distribution">
                </div>
            {% endif %}
        </div>
    </div>
    <script type="application/javascript" src="{{url_for('static', filename='js/particles.js')}}"></script>
    <script type="application/javascript" src="{{url_for('static', filename='js/app.js')}}"></script

        <script>
            const dropZone = document.getElementById('drop-zone');
            dropZone.addEventListener('dragover', (e) => {
                e.preventDefault();
                dropZone.classList.add('dragover');
            });
    
            dropZone.addEventListener('dragleave', () => {
                dropZone.classList.remove('dragover');
            });
    
            dropZone.addEventListener('drop', (e) => {
                e.preventDefault();
                dropZone.classList.remove('dragover');
                const file = e.dataTransfer.files[0];
                handleFile(file);
            });
    
            const fileInput = document.getElementById('file');
    
            fileInput.addEventListener('change', () => {
                const file = fileInput.files[0];
                handleFile(file);
            });
    
    
    
                
        </script>
</body>
</html>